.aui-page-header-actions .bamboo-status {
    display: inline-block;
    padding-right: 10px;
}
.aui-toolbar2-secondary .bamboo-status .state {
    margin-top: 7px;
}

.aui-page-panel .pull-request-metadata .pull-request-metadata-secondary {
    width: 500px;
}

.bamboo-status {
    .state {
        display: block;
        width: 16px;
        height: 16px;
    }
    .inprogress {
        background-image: url('icn_building.gif');
    }
    .empty {
        background-image: url('plan_disabled_16.png');
    }
    .successful {
        background-image: url('plan_successful_16.png');
    }
    .failed {
        background-image: url('plan_failed_16.png');
    }
}
